.execution {
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    gap: var(--gl-gridGap);
    align-items: center;
}

.execution > * {
    display: grid;
    align-items: center;
    font-size: 0.4em;
    background-color: var(--exec-btn-clr);
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: var(--btn-radius);
}

.execution > *:hover {
    animation: buttonHover 0.2s ease-in-out normal;
    color: black;
    background-color: yellow;
}

@keyframes buttonHover {
    0% {
        color:whitesmoke;
        background-color: rgb(26, 117, 209);
    }
    100% {
        color: black;
        background-color: yellow;
    }
}