@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    /* VARIABLES */
    --gl-margin: 10px;
    --gl-gridGap: 15px;
    --gl-paneRadius: 3%;
    --btn-radius: 10%;
    /* FONT */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    /* COLORS */
    --cont-clr: #ff652f;
    --exec-btn-clr: rgb(26, 117, 209);
    --body-clr: #1b2533;
}