.pane {
    display: grid;
    text-align: center;
    border-radius: var(--gl-paneRadius);
}

*:not(input) {
    user-select: none;
}

body {
    background-color: var(--body-clr);
    display: grid;
    height: calc(100vh - var(--gl-margin) * 2);
    margin: var(--gl-margin);
    grid-gap: var(--gl-gridGap);
    grid-template-columns: 1fr 6fr;
}

.dropdown {
    background-color: green;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-size: 1.25rem;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.dropdown:hover {
    transition: max-height 0.4s ease-in;
    max-height: 33%;
}

p {
    font-size: 2rem;
}

.dropdown > * {
    border: 1px solid black;
    display: grid;
    text-align: center;
    align-items: center;
    background-color: rgb(148, 63, 63);
    font-size: 1rem;
}

.pHeader {
    font-size: 1em;
    text-decoration: 2mm dashed underline;
}

.control {
    padding-top: 2vh;
    color: white;
    display: flow-root;
    background-color: var(--cont-clr);
}

.control > *:not(.pHeader) {
    margin: 3vh 3vw 0 3vw;
}

